* {
    box-sizing: border-box;
}

body {
    width: 900px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: auto;
}

.square {
    width: 16px;
    height: 16px;
    background-color: #efefef;
    /* border: 1px solid black; */
}

.square:hover {
    background-color: blueviolet;
    /* cursor: none; */
}