* {
    box-sizing: border-box;
}

body {
    margin: 10px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
}

.square {
    width: 16px;
    height: 16px;
    background-color: #efefef;
    /* border: 1px solid black; */
}

.purpleSquare {
    background-color: #990099;
}